body {
-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust: none;/* prevent webkit from resizing text to fit */
-webkit-user-text-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
-ms-text-size-adjust: none;/* prevent webkit from resizing text to fit */
}
.body_top{padding-top: 50px;}
.invisivel{display:none;}
.visivel{display:inherit;}
.left{float:left;}
.right{float:right;}